Repository mym0404/turbo-particle: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:kotlin, typecheck

lint:js:
  run: yarn eslint --cache --max-warnings=0 {staged_files}

lint:objc:
  run: bash ./script/clang-lint.sh {staged_files}

lint:kotlin:
  run: bash ./script/ktlint-lint.sh {staged_files}

typecheck:
  run: yarn tsc --noEmit

chore: init project
  .eslintcache
  .eslintrc
  .github/workflows/ci.yml
  .gitignore
  android/src/main/java/com/weathereffect/SnowView.kt
  android/src/main/java/com/weathereffect/SnowViewManager.kt
  android/src/main/java/com/weathereffect/SnowViewPackage.kt
  android/src/main/java/com/weathereffect/WeatherEffectViewManager.kt
  example/Gemfile.lock
  example/ios/.xcode.env.local
  example/ios/Podfile.lock
  example/ios/WeatherEffectExample.xcodeproj/project.pbxproj
  example/ios/WeatherEffectExample.xcworkspace/contents.xcworkspacedata
  example/ios/WeatherEffectExample.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  example/ios/WeatherEffectExample/PrivacyInfo.xcprivacy
  example/src/App.tsx
  ios/WeatherEffectView.h
  ios/WeatherEffectView.mm
  ios/WeatherEffectViewManager.mm
  package.json
  script/release.sh
  src/index.tsx
  src/spec/SnowNativeComponent.ts
  src/view/Snow.tsx
  tsconfig.json
  yarn.lock
Due: lint:js, lint:objc, lint:kotlin, typecheck

chore: release 0.1.1-alpha.0
  package.json
Due: none

chore: init project
  example/ios/.xcode.env.local
  example/ios/Podfile.lock
Due: none

chore: release 0.1.1-alpha.1
  package.json
Due: none

Update README.md
  README.md
Due: none

feat(android): create base view
  android/src/main/java/com/turboparticle/TurboParticleView.kt
  android/src/main/java/com/turboparticle/internal/LogUtil.kt
  android/src/main/java/com/turboparticle/internal/Randomizer.kt
Due: lint:kotlin

feat(ios): impl turbo particle view
  .eslintcache
  example/ios/TurboParticleExample/Images.xcassets/Contents.json
  example/ios/TurboParticleExample/Images.xcassets/logo.imageset/Contents.json
  example/ios/TurboParticleExample/Images.xcassets/logo.imageset/logo.png
  ios/TurboParticleView.mm
  ios/Util/BundleImageLoader.h
  ios/Util/EmitterDefaultImages.h
  ios/Util/ImageLoader.h
  ios/Util/TypeUtil.h
  src/spec/TurboParticleNativeComponent.ts
  src/view/TurboParticle.tsx
  src/view/logo.png
Due: lint:js, lint:objc, typecheck

chore: release 0.1.1-alpha.2
  package.json
Due: none

Path conditions:
  lint:js: any of: *.{js,ts,jsx,tsx}
  lint:objc: any of: *.{h,mm,m,hpp,cpp,c}
  lint:kotlin: any of: *.kt
  typecheck: any of: *.{ts,tsx}
